body{
    background-image: url(images/virginriverbackground.jpg);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    
.open
{
        
     
        font-style: italic;
        background-color: rgb(255, 255, 255);
            
            position: relative;
            
            width: 250px;
            height: 50px;
            left: 560px;
            top: 0px;
            right: 100px;
            bottom:0px;
            font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.1;
            
}
.name{
    font-style:normal;
    opacity: .9;
        background-color: rgb(255, 255, 255);
            
            position: relative;
            
            width: 160px;
            height: 20px;
            left: 580px;
            top: 0px;
            right: 0px;
            bottom:0px;
            font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.1;
}
p{
    background-color: rgb(252, 254, 255);
    font-weight: normal;

}
.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
      
}
.child1{
background-color: rgba(255, 255, 98, 0.844);
    
    position: absolute;
    font-weight: normal;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 450px;
    height: 400px;
    left: 490px;
    top: 190px;
    right: 120px;
    bottom:0px;
    
 
}
.child2{
        background-color: rgba(98, 255, 218, 0.844);
        
        position: absolute;
        font-weight: normal;
        font-family:Georgia, 'Times New Roman', Times, serif;
        width: 450px;
        height: 250px;
        
        left: 490px;
        top: 690px;
        right: 120px;
        bottom:0px;
        
     
    }
    .child3{
        background-color: rgba(255, 98, 213, 0.844);
        position: absolute;
        font-weight: lighter;
        font-family:Georgia, 'Times New Roman', Times, serif;
        width: 450px;
        height: 250px;
        left: 490px;
        top: 1099px;
        right: 120px;
        bottom:0px;
        
        
     
    }


.cover {
    background-image: url(images/virginrivercover.jpeg);
    background-repeat:no-repeat;
    background-size:contain;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 170px;
    left:450px;
}
.doc {

    background-color: rgba(122, 255, 239, 0.813);
    font-weight: normal;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    width: 450px;
    height: 550px;
    left: 0px;
    top: 1000px;
    right: 120px;
    bottom:0px;
    
    }
    .mel {

        background-color: rgba(255, 114, 114, 0.861);
        font-weight: normal;
        font-family:Georgia, 'Times New Roman', Times, serif;
        position: absolute;
        width: 450px;
        height: 550px;
        left: 500px;
        top: 1000px;
        right: 120px;
        bottom:0px;
        
        }

        .jack {

            background-color: rgba(104, 45, 255, 0.836);
            font-weight: normal;
            font-family:Georgia, 'Times New Roman', Times, serif;
            position: absolute;
            width: 450px;
            height: 550px;
            left: 990px;
            top: 1000px;
            right: 120px;
            bottom:0px;
            
            }

.flex-area {
    display:flex;
    flex-direction:row;
    justify-content: center;
    background-image:url(images/galaxy.jpg);
    background-size: cover;
    background-position: bottom;
}
h4 {
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    margin-bottom: 40px;
    color: white;
}
ul {
    list-style-type:none;
}
li {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 20px;
    border-bottom: 1px dotted gray;
    padding: 10px 0 10px 0;
    color: rgb(215, 215, 180);
}
.column {
    width: 300px;
    margin: 100px 50px 100px 50px;
}
span {
    color: #aaaaaa;
    font-size: 16px;
    text-transform: uppercase;
}