
body {
    background-image:url(images/librarybook.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.open
{
        
     
        font-style: italic;
        background-color: rgb(255, 255, 255);
            
            position: relative;
            
            width: 250px;
            height: 50px;
            left: 560px;
            top: 0px;
            right: 100px;
            bottom:0px;
            font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.1;
            
}
.name{
    font-style:normal;
    opacity: .9;
        background-color: rgb(255, 255, 255);
            
            position: relative;
            
            width: 160px;
            height: 20px;
            left: 580px;
            top: 0px;
            right: 0px;
            bottom:0px;
            font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.1;
}
p{
    background-color: rgb(252, 254, 255);
    font-weight: normal;

}
.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
      
}
.child1{
background-color: rgba(255, 255, 98, 0.844);
    
    position: absolute;
    font-weight: normal;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 450px;
    height: 400px;
    left: 490px;
    top: 190px;
    right: 120px;
    bottom:0px;
    
 
}
.child2{
        background-color: rgba(98, 255, 218, 0.844);
        
        position: absolute;
        font-weight: normal;
        font-family:Georgia, 'Times New Roman', Times, serif;
        width: 450px;
        height: 250px;
        
        left: 490px;
        top: 690px;
        right: 120px;
        bottom:0px;
        
     
    }
    .child3{
        background-color: rgba(255, 98, 213, 0.844);
        position: absolute;
        font-weight: lighter;
        font-family:Georgia, 'Times New Roman', Times, serif;
        width: 450px;
        height: 250px;
        left: 490px;
        top: 1099px;
        right: 120px;
        bottom:0px;
        
        
     
    }

