* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Poppins', sans-serif;
}
/* Intro Once Upon A Time*/
#title, #ending {
    background-color: rgb(47, 142, 171);
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 99;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
}
h1 {
    font-size: 80px;
    color: black;
    font-family:'Agbalumo', serif ;
    z-index: 400;
    text-align: center;
}
h2 {
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
h4{
    font-size: 70px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    z-index: 400;
    padding:30px;
    left: 30%;
    text-transform: uppercase;
}
.btn3 {
    border-radius: 28px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    background: #ff47cb;
    padding: 10px 20px 10px 20px;
    margin-top: 100px;
    top: 10px;
    bottom: 100px;
    text-decoration: none;
    display: block;
  }
.btn {
    border-radius: 28px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    background: #ff477b;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    bottom: 10px;
    text-decoration: none;
    display: block;
    width:20%;
    text-align:center;
    position:relative;
    left: 500px;
    transition: all 1s;
  
}
.btn:hover {
    transform: rotate(180deg);
    cursor:crosshair;
}
.shoe3{
    fill:#B0C4CD;stroke:#231F20;stroke-width:0.75;stroke-miterlimit:10;
   height: 300px;
   width: 90px;
   top: 90%;
}





  
  .btn4 {
    border-radius: 28px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    background: #7247ff;
    padding: 10px 20px 10px 20px;
    margin-top: -300px;
    top: 10px;
    bottom: 80px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  .btn4:hover{
    fill: #ff6188;
  }
  .btnopen {
    border-radius: 28px;
    font-family:'Agbalumo', serif ;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    background: #ff47cb;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    top: 10px;
    bottom: 80px;
    text-decoration: none;
    display: block;
  }
  
  
a.btn:hover {
    background: #f8e557;
    text-decoration: none;
  }
  .leftmsg {
    width:25%;
    left: 480px;;
    position:relative;
    text-align:left;
    background-color: #7cc778;
}
.rightmsg {
    width:20%;
    text-align:left;
    position:relative;
    left: 540px;
    background-color: rgb(0, 55, 255);

}
.alarmmsg {
 
        width:20%;
        text-align:center;
        position:relative;
        left: 580px;
        font-size: 38px;
        background-color: rgb(255, 0, 0);
        border-radius: 28px;
        font-weight: bold ;
    }


footer {
    background-color: rgb(37, 37, 37);
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    z-index: 999;
  }
footer p {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: beige;
}
footer a {
    color: #a79fff;
    text-decoration:none;
}
footer a:hover {
    color: white;
}

.center {
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
}
p {
    font-size: 20px;
    color: black;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
    position: relative;
   margin-left: 2%;
}

h3 {
    font-style: italic;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: -20px;
}
h5 {
    font-family:'Agbalumo', serif ;
    font-size: 50px;
    font-weight: 200;
    line-height: 1.5;
   
}
i {
    color:#ffffff;
}

/* PAGE 1 */


#page1,#page4 .parent{
    /*
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-area: 1 / 1 / 5 / 3;*/
    /* height: 90vh;*/
    width: 100%;
    height: 1000px;
    background-image:url(images/phone.png);
    background-size: 30% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    padding: 0%;
    padding-bottom: 5%;
    padding-top: 0%;
    }
    #page1 .div { 
        position:relative;
        padding: 5%;
        
    
} 
#page4 .parent4{
    /*
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-area: 1 / 1 / 5 / 3;*/
    /* height: 90vh;*/
    width: 50%;
    height: 1000px;
    background-image:url(images/phone.png);
    background-size: 40% 60%;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    padding: 0%;
    padding-bottom: 5%;
    padding-top: 0%;

}



    #page1 .div { 
        position:relative;
        padding: 5%;
    } 
    #page4 .div4 { 
        position:relative;
        padding: 5%;
    } 
#page5 .parent{
    width: 100%;
    background-image:url(images/phone.png);
    background-size: 60% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    padding: 20%;
    padding-bottom: 20%;
    padding-top: 0%;
    }
/* PAGE 3 */
#page3 .parent3{
    width: 100%;
    background-image:url(images/cindypage3.svg);
    background-color: #00deee;
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    height: 1550px;
    transition: all 1s;
    }
    #page6 .parent6{
        width: 100%;
        background-image:url(images/train.jpg);
        background-color: #00deee;
        background-size: 100% 100%;
        background-position: top center;
        background-repeat: no-repeat;
        position: relative;
        height: 1550px;
        transition: all 1s;
        }
    #page5 .parent5{
        width: 100%;
        background-image:url(images/stair.pdf);
        background-color: #6e1313;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: 1600px;
        transition: all 1s;
        }
        #page7 .parent7{
            width: 100%;
            height: 1000px;
            background-image:url(images/insta.pdf);
            background-size: 60% 100%;
            background-position: top center;
            background-repeat: no-repeat;
            position: relative;
            padding: 20%;
            padding-bottom: 20%;
            padding-top: 0%;
            background-color: hotpink;
            
            }
.instamsg{


  width:20%;
  left: 340px;
  top: 200px;
  position:relative;
  text-align:center;
  background-color: #f9ffee;
  background-position: center;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;


} .shoe{fill:#B0C4CD;stroke:#231F20;stroke-width:0.75;stroke-miterlimit:10;}

            #page8 .parent8{
                width: 100%;
                
                background-image:url(images/shop.pdf);
                background-color: #00deee;
                background-size: 60% 80%;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                height: 1500px;
                transition: all 1s;
                
                }
                #page2 .parent2{
                    width: 100%;
                    
                 
                    background-color: #00deee;
                    background-size: 60% 80%;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: relative;
                    height: 1500px;
                    transition: all 1s;
                    height: 300px;
                    padding: 28%;
                    width: 300px;
                    
                    }
    #page3,#page8 .div { 
        position:relative;
        padding: 0%;
    } 
    #page3 .dress4{
        position: relative;
        width: 60%;
        top: 10%;
        right: -17%;
       
        
     }
     .dress4{
        fill:#ff6188;
        stroke: black;
        stroke-width:2;
        stroke-miterlimit: 10;
        transition: all 1s;
      }

    .dress{
      /*  background-image: url(images/dress.svg);
        background-repeat: no-repeat;
        color: #ff4cf3;
        transition: all 1s;
        */
        height: 300px;
        padding: 28%;
        width: 300px;
       
    }
   
  
	
    #page5 .shoe{
       
  
        left: 300px;
        width:20%;
        left: 140px;
        top: 100px;
        position:relative;
        text-align:center;
        background-position: center;
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
       
        
     }
     .dress4{
        fill:#ff6188;
        stroke: black;
        stroke-width:2;
        stroke-miterlimit: 10;
        transition: all 1s;
      }
      .shoe{
        fill:#ff6188;
        stroke: black;
        stroke-width:5;
        stroke-miterlimit: 10;
        transition: all 1s;
        
      }
    .dress4:hover {
        fill:#2bffed;
      }
      .btn4:hover {
        fill:#2bffed;
      }
      .shoe:hover {
        fill:#2bffed;
        
      }
.cls-1 {
    fill:#d68599;
    stroke: black;
    stroke-miterlimit: 10;
    transition: all 1s;
  }
.cls-1:hover {
    fill:#00bceb;
  }

@media screen and (max-width: 800px) {
    #page1 .parent8
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    h3 {
        font-size: 30px;
    }


}

.sew{
  
    background-image: url(images/cinndysew.pdf);
    width: 100%;
    left: 300px;
    background-color: #fff0f0;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 1600px;
    transition: all 1s;
}


.st0{fill:#D89F8B;}
	.st1{fill:url(#SVGID_1_);stroke:#000000;stroke-miterlimit:10;}
	.st2{fill:#FFFFFF;}
	.st3{fill:#00A79D;}
	.st4{fill:#ED2D92;}
	.st5{fill:#FBB040;}
	.st6{fill:#EC008C;}
	.st7{fill:#9E1F63;stroke:#000000;stroke-miterlimit:10;}
	.st8{fill:#006838;stroke:#000000;stroke-miterlimit:10;}
	.st9{fill:#58595B;}
	.st10{fill:#006838;}
    .sew{
          height:800px;
          width:800px;
      }

    