* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Poppins', sans-serif;
}
/* Intro Once Upon A Time*/
#title, #ending {
    background-color: rgb(97, 206, 239);
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 99;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
}
h1 {
    font-size: 80px;
     color: black;
    font-family:'Agbalumo', serif ;
    z-index: 400;
}
h2 {
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
h4{
    font-size: 70px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    z-index: 400;
    padding:10px;
    margin: 20px;
    text-transform: uppercase;
}

.btn {
    border-radius: 28px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    background: #ff47cb;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    top: 10px;
    bottom: 80px;
    text-decoration: none;
    display: block;
  }
  .btnopen {
    border-radius: 28px;
    font-family:'Agbalumo', serif ;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    background: #ff47cb;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    top: 10px;
    bottom: 80px;
    text-decoration: none;
    display: block;
  }
  
  
a.btn:hover {
    background: #f8e557;
    text-decoration: none;
  }
.leftmsg {
    width:70%;
    background-color: #7cc778;
}
.rightmsg {
    width:70%;
    text-align:left;
    position:relative;
    left:30%;
    background-color: rgb(0, 55, 255);
}
footer {
    background-color: rgb(37, 37, 37);
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    z-index: 999;
  }
footer p {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: beige;
}
footer a {
    color: #a79fff;
    text-decoration:none;
}
footer a:hover {
    color: white;
}

.center {
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
}
p {
    font-size: 24px;
    color: white;
    line-height: 2;
}

h3 {
    font-style: italic;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: -20px;
}
i {
    color:#ffffff;
}
/* PAGE 1 */

#page1 .parent{
    /*
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-area: 1 / 1 / 5 / 3;*/
    /* height: 90vh;*/
    width: 100%;
    background-image:url(images/phone.png);
    background-size: 60% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    padding: 20%;
    padding-bottom: 20%;
    padding-top: 0%;
    }
    .dress{
      /*  background-image: url(images/dress.svg);
        background-repeat: no-repeat;
       
        color: #ff4cf3;
        transition: all 1s;
        */
        height: 300px;
        width: 300px;
    }
.dress:hover {
   
}
    #page1 .div { 
        position:relative;
        padding: 10%;
    }
    .blob {
        height: 200px;
        width: 200px;
        background-color: #f8e557;
        transition: all 1s;
    }
.blob:hover {
    background-color: #00bceb;
}
.cls-1 {
    fill:#d68599;
    stroke: black;
    stroke-miterlimit: 10;
    transition: all 1s;
  }
.cls-1:hover {
    fill:#00bceb;
  }

@media screen and (max-width: 800px) {
    #page1 .parent8
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    h3 {
        font-size: 30px;
    }

}

