body {
    background-color: rgb(255, 206, 218);
     /*background-color: purple;*/
    /* background-color: rgd(234, 171, 255);*/
    /* background-color: rgba(234, 171, 255, 0.7); */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1
{
        font-size: 40px;
        font-weight: normal;
        font-style: italic;
        background-color: blanchedalmond;
}
h2
{
        font-weight: normal;
        background-color: blanchedalmond;
}
h3
{
        font-weight: normal;
        background-color: blanchedalmond;
}
p{
    background-color: rgb(212, 246, 255);
}
